<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="global-navbar" layout:fragment="navbar">
    <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top" role="navigation">
        <div id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/event/" >Event</a></li>
                <li class="nav-item"><a class="nav-link" href="/person/" >Person</a></li>
                <li class="nav-item"><a class="nav-link" href="/collection/" >Collection</a></li>
                <li class="nav-item"><a class="nav-link" href="/diary/" >Diary</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>