<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="global-navbar" layout:fragment="navbar">
    <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top" role="navigation">
        <div id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/event/" >时间</a></li>
                <li class="nav-item"><a class="nav-link" href="/item/?catId=10000001" >总览</a></li>
                <li class="nav-item"><a class="nav-link" href="/item/?catId=10000163" >幻想</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="/category/" >分类</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/diary/" >日记</a></li>
                <li class="nav-item"><a class="nav-link" href="/item/?catId=10020928" >共享</a></li>                
            </ul>
        </div>
    </nav>
</div>
</body>
</html>