* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  padding-top: 90px;
  font-family: helvetica, arial,sans-serif;
}

.table th, .table td {
    padding: 0.3rem;
}

.noborder input{
    width : 100%;
    border: 0px solid #000 !important;
}

.headline thead{
    background-color:#eee;
}

.fcol table { 
  table-layout:fixed; 
} 
.fcol td:first-child { 
  background-color:#eee; 
} 

/*
.textbox{
    padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-image: none;
    background-color: #eee;
    font-size: 12px;
}
*/
/*
input[type="button"], input[type="submit"], input[type="reset"] {
    width: 100px;
    height: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eee;
    background-image: none;
    background-color: #ddd;
    font-size: 12px;
    color: #111;
}
*/

/*
.btn-comn:active{
  border-bottom: none;
  background-color: #888;
}

.btn-submit{
  width: 200px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #666;
  font-size: 20px;
  color: #fff;
}
.btn-submit:active{
  border-bottom: none;
  background-color: #888;
}
*/

textarea {
  border: 0px;
  width: 100%;
  height: 200px;
}

.longtextarea {
  height: 600px;
}

.oneline table{
	width:100px;
	table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
.oneline td{
	width:100%;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}


ul {
  margin-left: 20px;
}

.wtree li {
  list-style-type: none;
  margin: 10px 0 10px 10px;
  position: relative;
}
.wtree li:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 20px;
  height: 15px;
}
.wtree li:after {
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 20px;
  height: 100%;
}
.wtree li:last-child:after {
  display: none;
}
.wtree li span {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  color: #888;
  text-decoration: none;
}

.wtree li span:hover, .wtree li span:focus {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}
.wtree li span:hover + ul li span, .wtree li span:focus + ul li span {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}
.wtree li span:hover + ul li:after, .wtree li span:hover + ul li:before, .wtree li span:focus + ul li:after, .wtree li span:focus + ul li:before {
  border-color: #aaa;
}
