body {
    padding-top: 90px;
}

.table th, .table td {
    padding: 0.3rem;
}

.noborder input{
    width : 100%;
    border: 0px solid #000 !important;
}

.headline thead{
    background-color:#eee;
}

/*
.textbox{
    padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-image: none;
    background-color: #eee;
    font-size: 12px;
}
*/
/*
input[type="button"], input[type="submit"], input[type="reset"] {
    width: 100px;
    height: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eee;
    background-image: none;
    background-color: #ddd;
    font-size: 12px;
    color: #111;
}
*/

/*
.btn-comn:active{
  border-bottom: none;
  background-color: #888;
}

.btn-submit{
  width: 200px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #666;
  font-size: 20px;
  color: #fff;
}
.btn-submit:active{
  border-bottom: none;
  background-color: #888;
}
*/

textarea {
  border: 0px;
  width: 100%;
  height: 300px;
}