<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
  <form name="addForm" method="POST" action="#" th:action="@{/category/save}" th:object="${catBean}" > 
    <table class="table table-bordered noborder headline">
      <tr><td>名称</td><td ><input th:field="*{name}" /></td></tr>
      <tr><td>序号</td><td ><input th:field="*{orderNo}" /></td></tr>
      <tr><td>ID</td><td ><input th:field="*{id}" readonly="true"/></td></tr>
      <tr><td>上级分类</td><td ><input th:field="*{parent.id}" /> <b th:if="${parentName}!=null" th:text="${parentName}"></b></td></tr>      
      <tr><td>关联分类</td><td ><input th:field="*{relatedId}" /></td></tr>
      <tr><td>类型</td><td ><input th:field="*{type}" class="type" /></td></tr>
      <tr><td>输入日期</td><td ><input th:field="*{date}" /></td></tr>
      <tr><td>开始日期</td><td ><input th:field="*{startDate}" /></td></tr>
      <tr><td>结束日期</td><td ><input th:field="*{endDate}" /></td></tr>
    </table>
      <input type="submit" value="Save" />
  </form>
</div>
</body>
</html>