<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div th:fragment="frag" th:if="${child}">
		<span class="bgbox" th:classappend="'div' + ${idx}">
			<b th:text="${child.id} + ' ' +${child.name}" ></b>

			<a th:text="Del" th:href="'/category/delete?id='+${child.id}"
			style="float:right;font-size:small;height:20px;padding-top:0px;margin-left: 5px;text-align: top;"></a>

			<a th:text="Add" th:href="'/category/edit?id=0&parentId=' + ${child.id}"
			style="float:right;font-size:small;height:20px;padding-top:0px;margin-left: 5px;text-align: top;"></a>

			<a th:text="Edit" th:href="'/category/edit?id='+${child.id}"
			style="float:right;font-size:small;height:20px;padding-top:0px;margin-left: 5px;text-align: top;"></a>
			
			</span> 
		<ul class="wtree">
			<li th:each="child : ${child.children}">
				<div th:replace="category_rec :: frag">
				(sub-nodes here)</div>
			</li>
		</ul>
	</div>
	
</body>