<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
  <form name="addForm" method="POST" action="#" th:action="@{/category/saveChild}" th:object="${categoryChildBean}" > 
    <table class="table table-bordered noborder headline">
      <tr>
        <td>id</td><td ><input th:field="*{id}" /></td>
      </tr>
      <tr>
        <td>name</td><td ><input th:field="*{name}" /></td>
      </tr>
      <tr>
        <td>parent</td><td ><input name="parentId" th:value="${parentId}"/></td>
      </tr>
      <tr>
        <td>root</td><td ><input th:field="*{root}" /></td>
      </tr>
      <tr>
        <td>order</td><td ><input th:field="*{orderNo}" /></td>
      </tr>
      <tr>
        <td>relatedId</td><td ><input th:field="*{relatedId}" /></td>
      </tr>      
    </table>
      <input type="submit" value="Save" />
  </form>
  
  <hr/>
  <span th:text="${item.id} + ' ' +${item.name}">
    (item's content here.)</span>

  <th:block th:if=${session.ispc}>
    <div class="bg-box">
      <div class="left-box">
        <div class="left-box">
            <ul class="wtree">
                <li th:each="child, childStat : ${item.children}">
                    <div th:if="${childStat.index} % 4 == 0" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>    
        </div>
        <div class="right-box"> 
            <ul class="wtree">
                <li th:each="child, childStat : ${item.children}">
                    <div th:if="${childStat.index} % 4 == 1" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div class="right-box">
        <div class="left-box">
            <ul class="wtree">
                <li th:each="child, childStat : ${item.children}">
                    <div th:if="${childStat.index} % 4 == 2" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>    
        </div>
        <div class="right-box"> 
            <ul class="wtree">
                <li th:each="child, childStat : ${item.children}">
                    <div th:if="${childStat.index} % 4 == 3" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div> 
  </th:block>

  <th:block th:unless=${session.ispc}>
    <ul class="wtree">
        <li th:each="child, childStat : ${item.children}">
            <div th:with="idx=${childStat.index}">
                <div th:replace="category_rec :: frag">(sub-nodes here)</div>
            </div>
        </li>
    </ul>
  </th:block>
</div>
</body>
</html>