<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script th:inline="javascript">
/*<![CDATA[*/
function addNewCat(ulId, idx) {

    var ul = document.getElementById(ulId);
    var cnt = document.getElementsByName("dataCount").length;

    var li = document.createElement("li");
    if(idx == null) {
        li.setAttribute('style', 'width:23%;float: left;display: block;margin: 5px 15px 0px 5px;');
        var cntli = 0;
        for(var i=0; i < ul.childNodes.length; i++) {
            var node = ul.childNodes[i];
            if(node.nodeType == 1) {
                cntli++;
            }
        }
        idx = cntli;
    }
    var div = document.createElement("div");  
    var span = document.createElement("span");
    span.setAttribute('class', 'bgbox div' + idx);  

    var input1 = document.createElement("input");
    input1.setAttribute('type', 'hidden');
    input1.setAttribute('class', 'textbox');
    input1.name = "Items[" + cnt + "].id";
    input1.value = 0;
    span.appendChild(input1);

    var input2 = document.createElement("input");  
    input2.setAttribute('class', 'textbox');
    input2.name = "Items[" + cnt + "].name";
    span.appendChild(input2);
    
    var input3 = document.createElement("input");
    input3.setAttribute('type', 'hidden');
    input3.setAttribute('class', 'textbox');
    input3.name = "Items[" + cnt + "].parentId";
    if(ulId > 10000000) {
        input3.value = ulId;
    } else {
        input3.value = ulId;
    }
    
    span.appendChild(input3);

    var input4 = document.createElement("input");
    input4.setAttribute('class', 'shortbox');
    input4.name = "Items[" + cnt + "].orderNo";
    input4.value = 0;
    span.appendChild(input4);    

    var input5 = document.createElement("input");
    input5.setAttribute('type', 'hidden');
    input5.setAttribute('class', 'shortbox');
    input5.name = "Items[" + cnt + "].index";
    input5.value = cnt;
    span.appendChild(input5);
    
    var input6 = document.createElement("input");
    input6.setAttribute('type', 'checkbox');
    input6.setAttribute('class', 'shortbox');
    input6.name = "Items[" + cnt + "].isUpdate";
    input6.setAttribute("checked","checked");  
    span.appendChild(input6);

    var input7 = document.createElement("input");
    input7.setAttribute('type', 'hidden');
    input7.name = "dataCount";
    span.appendChild(input7);    

    var input8 = document.createElement("input");
    input8.setAttribute('type', 'button');
    input8.setAttribute('class', 'btn-comn');
    input8.setAttribute('style', 'float:right;');
    input8.value = "+";
    input8.onclick = function() {addNewCat(cnt, idx)}; 
    
    span.appendChild(input8);
    div.appendChild(span);

    var ulAdd = document.createElement("ul");
    ulAdd.setAttribute('class', 'wtree');
    ulAdd.id = cnt;
    div.appendChild(ulAdd);

    li.appendChild(div);
    ul.appendChild(li); 
}
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
   
    <form name="saveForm" action="#" th:action="@{/category/saveList}" th:object="${form}" method="post" >
        <div style="text-align: right;">
            <a th:href="'/category/?id=' + ${cat.id}">category</a>
            <input type="submit" id="submitButton" th:value="Save" style="margin: 8px;"/>
        </div>

        <div style="padding-bottom: 15px;border: 2px solid #aaa;">

            <div class="title bgbox" th:classappend="div0" style="padding:8px;border: 1px solid #aaa;">
                <input type="hidden" th:name="|items[${cat.getIndex()}].id|" th:value="${cat.id}" class="textbox"/>
                <input th:name="|items[${cat.getIndex()}].name|" th:value="${cat.name}" class="textbox"/>
                <input type="hidden" th:name="|items[${cat.getIndex()}].parentId|" th:value="${cat.parentId}" class="textbox"/>
                <input th:name="|items[${cat.getIndex()}].relatedId|" th:value="${cat.relatedId}" class="textbox"/>
                <input th:name="|items[${cat.getIndex()}].orderNo|" th:value="${cat.orderNo}" class="shortbox"/>
                <input type="hidden" th:name="|items[${cat.getIndex()}].index|" th:value="${cat.index}" class="shortbox"/>
                <input type="checkbox" th:name="|items[${cat.getIndex()}].isUpdate|" class="shortbox"/>
                <input type="hidden" name="dataCount" />
                <input type="button" value="+" th:data-pid="${cat.id}" th:data-idx="${idx}" th:onclick="addNewCat(this.getAttribute('data-pid'), this.getAttribute('data-idx'))" 
                class="btn-comn" style="float: right;"></input>
            </div>

            <th:block th:if=${session.ispc}>
                <ul class="wtree" th:id="${cat.id}">
                    <li th:each="child, childStat : ${cat.children}" 
                    th:with="idx=${childStat.index}" th:style="${session.ispc==false}?'':'width:23%;float: left;display: block;margin: 5px 15px 0px 5px;'">
                        <div th:replace="category_group_rec :: frag">(sub-nodes here)</div>
                    </li>
                </ul>   
            </th:block>

            <div style="clear:both;"></div>
        </div>
    </form>
</div>
</body>
</html>