<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

    <span th:text="${cat.id} + ' ' +${cat.name}">
        (item's content here.)</span>
    <a th:href="'/category/editDiagram?id=' + ${cat.id}" style="float: right;">EditDiagram</a>
    <a th:if="${cat.parent!=null}" th:text="Parent" th:href="'/category/?id='+${cat.parent?.id}"></a>
    <a th:text="Edit" th:href="'/category/edit?id='+${cat.id}"></a>
    <a th:text="Add" th:href="'/category/edit?id=0&parentId=' + ${cat.id}" ></a>
  <th:block th:if=${session.ispc}>
    <div class="bg-box">
      <div class="left-box">
        <div class="left-box">
            <ul class="wtree">
                <li th:each="child, childStat : ${cat.children}">
                    <div th:if="${childStat.index} % 4 == 0" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-box">
            <ul class="wtree">
                <li th:each="child, childStat : ${cat.children}">
                    <div th:if="${childStat.index} % 4 == 1" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div class="right-box">
        <div class="left-box">
            <ul class="wtree">
                <li th:each="child, childStat : ${cat.children}">
                    <div th:if="${childStat.index} % 4 == 2" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>    
        </div>
        <div class="right-box"> 
            <ul class="wtree">
                <li th:each="child, childStat : ${cat.children}">
                    <div th:if="${childStat.index} % 4 == 3" th:with="idx=${childStat.index}">
                        <div th:replace="category_rec :: frag">(sub-nodes here)</div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div> 
  </th:block>

  <th:block th:unless=${session.ispc}>
    <ul class="wtree">
        <li th:each="child, childStat : ${cat.children}">
            <div th:with="idx=${childStat.index}">
                <div th:replace="category_rec :: frag">(sub-nodes here)</div>
            </div>
        </li>
    </ul>
  </th:block>

  <a th:href="'/item/?catId=' + ${cat.id}"><input type="button" value="Diagram" /></a>
</div>
</body>
</html>