<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

	<table class="table table-bordered noborder">
    <tr>
      <td width="15%" bgcolor="gray">id</td>
      <td width="20%" th:text="${child.id}"></td>
      <td width="15%" bgcolor="gray">type</td>
      <td width="20%" th:text="${child.type}"></td>
      <td width="15%" bgcolor="gray">index</td>
      <td th:text="${child.index}"></td>
    </tr>
    <tr>
      <td bgcolor="gray">name</td><td th:text="${child.name}"></td>
      <td bgcolor="gray">name2</td><td th:text="${child.name2}"></td>
      <td bgcolor="gray">name3</td><td th:text="${child.name3}"></td>
    </tr>
    <tr>
      <td bgcolor="gray">inputDate</td><td th:text="${child.inputDate}"></td>
      <td bgcolor="gray">updateDate</td><td th:text="${child.updateDate}"></td>
    </tr>
    <tr><td colspan="6">
      <div id="article" th:text="${child.memo}"></div>
    </td></tr>

  </table>

</div>
</body>
</html>