<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script th:inline="javascript">
/*<![CDATA[*/
function deleteItem(id) {
    document.getElementById("delId").value = id;
	deleteForm.submit();
}
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
  <form name="addForm" method="POST" action="#" th:action="@{/diagram/save}" th:object="${catBean}" > 
    <table class="table table-bordered noborder headline">
      <tr><td>名称</td><td ><input th:field="*{name}" /></td></tr>
      <tr><td>序号</td><td ><input th:field="*{orderNo}" /></td></tr>
      <tr><td>ID</td><td ><input th:field="*{id}" readonly="true"/></td></tr>
      <tr><td>上级分类</td><td ><input th:field="*{parent.id}" /> <b th:if="${parentName}!=null" th:text="${parentName}"></b></td></tr>
    </table>
      <input type="submit" value="Save" />
      <input th:unless="${catBean.id==0}" type="button" value="Delete" th:data-id="${catBean.id}" th:onclick="deleteItem(this.getAttribute('data-id'));" ></input>
    </form>

    <form name="deleteForm" method="POST" action="#" th:action="@{/diagram/delete}" >
      <input type="hidden" id="delId" name="delId" value=""></input>
    </form>  
</div>
</body>
</html>