<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div th:fragment="item" th:if="${catView}" th:with="floor=${floor}+1">
		<span class="bgbox" th:classappend="'div' + ${idx}"> 
			<b class="catName" th:text="${catView.name}"></b>
			<a th:href="'/point/edit?catId=' + ${catView.id}" class="addbtn">+</a>
			<a th:href="'/diagram/edit?id=0&parentId=' + ${catView.id}" class="addbtn">C</a>
			<a th:href="'/point/?catId=' + ${catView.id}" class="addbtn">D</a>

		<table class="table table-bordered headline">
			<th:block th:unless="${#lists.isEmpty(catView.items)}" th:each="gItem,gStat : ${catView.items}">
				<th:block th:if="${gStat.index} % 2 eq 0" ><tr></th:block>
				<td width="50%">
					<th:block th:if="${gItem.childDiagramId}!=0">
						<img th:src="'/images/maps.png'"/>
						<b><a th:text="${gItem.name}" th:href="@{'/point/?catId=' + ${gItem.childDiagramId}}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
						<b><a th:text="__E" th:href="@{'/item/edit?id=' + ${gItem.id}}"></a></b>
					</th:block>
					<th:block th:if="${gItem.childDiagramId}==0">
						<b><a th:text="${gItem.name}" th:href="@{'/point/edit?id=' + ${gItem.id}}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
					</th:block>
				</td>
				<th:block th:if="(${gStat.index} % 2 eq 1) or (${gStat.index} == ${#lists.size(catView.items)} -1)" ></tr></th:block>
			</th:block>
		</table>
		</span>
		
		<ul class="wtree">
			<li th:each="catView : ${catView.children}" >
				<div th:replace="diagram_view_rec :: item">(sub-nodes here)</div>
			</li>
		</ul>
	</div>
</body>