<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

    <form name="chgDateForm" action="#" th:action="@{/diary/}" method="GET">
        <input type="text" id="date" name="date" th:value="${date}" readonly="true" class="datebox"/>
        <input type="button" value="prev" th:onclick="chgDate(-1)" class="btn-comn"></input>
        <input type="button" value="next" th:onclick="chgDate(1)" class="btn-comn"></input>
    </form>

    <form name="addForm" method="POST" action="#" th:action="@{/diary/save}" th:object="${diary}">
        <table class="table table-bordered inputbox noborder" style="font-size:1rem;">
            <tr>
                <td >Title <font color="red">*</font>
                    <input type="text" th:field="*{name}" />
                </td>
                <td hidden=""><input type="text" th:field="*{id}" /></td>
                <td hidden=""><input type="text" th:field="*{date}" th:value="${date}"/></td>
            </tr>
            <tr>
                <td>Text<textarea th:field="*{text}" class="longtextarea" /></td>
            </tr>
        </table>
        <input type="submit" value="Save" />
        <a href="/diary/readByPeriod" style="float:right;">Reading</a>
    </form>


</div>
</body>
</html>