<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

    <div>
        <form name="chgDateForm" action="#" th:action="@{/event/eventView}" method="GET" >
            <span>Date</span><input type="text" id="targetDate" name="targetDate" th:value="${date}" class="textbox"/>
            <span>Start</span><input type="text" id="startDate" name="startDate" th:value="${start}" class="textbox"/>
            <span>End</span><input type="text" id="endDate" name="endDate" th:value="${end}" class="textbox"/>
            <input type="button" value="Change" th:onclick="chgMonth(0)" class="btn-comn"></input>
            <input type="button" value="prev" th:onclick="chgMonth(-1)" class="btn-comn"></input>
            <input type="button" value="next" th:onclick="chgMonth(1)" class="btn-comn"></input>
        </form>
    </div>

    <ul class="wtree">
        <li th:each="child, childStat : ${cat.children}">
            <div th:replace="event_view_rec :: frag">(sub-nodes here)</div>
        </li>
    </ul>

    <hr/>
    <h3>Event Options</h3>
    <span><a th:href="@{/event/eventEdit}">EditAllEvent</a></span>

</div>
</body>
</html>