<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<div th:fragment="frag" th:if="${child}" th:with="floor=${floor}+'1'">
	<span class="bgbox" th:classappend="'div' + ${idx}"> 
		<b class="catName" th:text="${child.name}"></b> <b th:if="${child.time} != 0" th:text="'  /  ' + ${child.time} + '  /  ' +${child.percent} " ></b>

		<b><a th:href="'/event/edit?date=' + ${date} + '&eventCatId=' + ${child.parentCatId} + '&topicCatId=' + ${child.topicId} + '&itemCatId=' + ${child.relatedId} + '&type=' + ${child.type}" 
			class="addbtn">+</a></b>

		<b th:if="${floor} == '1'" ><a th:href="'/event/addTopicByCat?topicDate=' + ${date} + '&topicCat=' + ${child.name}" class="addbtn">T</a></b>
		
	<div th:unless="${#lists.isEmpty(child.items)}">
		<table class="table table-bordered noborder headline">
			<th:block th:each="item, itemStat : ${child.items}">
			<tr>
				<td hidden="">
					<input th:name="|items[${item.getIndex()}].id|" th:value="${item.id}" readonly="true"/>
				</td>
				<td hidden="">
					<input th:name="|items[${item.getIndex()}].parentId|" th:value="${item.parentId}" />
				</td>
				<td>
					<input th:name="|items[${item.getIndex()}].parentName|" th:value="${item.parentName}" class="textbox" readonly="true" />
				</td>
				<td>
					<input th:name="|items[${item.getIndex()}].name|" th:value="${item.name}" />
				</td>
				<td width="20%">
					<input th:name="|items[${item.getIndex()}].time|" th:value="${item.time}" class="time" />
				</td>
				<td hidden="">
					<input th:name="|items[${item.getIndex()}].date|" th:value="${date}" readonly="true" />
				</td>
				<td>
					<a th:href="'/event/edit?id=' + ${item.getId()} + '&date=' +${item.getDate()}" th:text="E" ></a>
				</td>
			</tr>
			<!--
			<tr>
				<td colspan="4">
					<table style="margin-left:20px;">
						<tr><td><input type="text" value="SubEvent"></td><td witdh="20%">tuijia</td><td>tuijia</td><td>tuijia</td></tr>
					</table>
				</td>
			</tr>
			-->
			</th:block>
		</table>
	</div>
	</span>
	<ul class="wtree">
		<li th:each="child, childStat : ${child.children}">
			<div th:replace="event_rec :: frag">(sub-nodes here)</div>
		</li>
	</ul>

</div>
	
</body>