<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

    <div>
        <form name="chgDateForm" action="#" th:action="@{/event/eventView}" method="GET" >
            <span>Date</span><input type="text" id="targetDate" name="targetDate" th:value="${date}" class="textbox"/>
            <span>Start</span><input type="text" id="startDate" name="startDate" th:value="${start}" class="textbox"/>
            <span>End</span><input type="text" id="endDate" name="endDate" th:value="${end}" class="textbox"/>
            <input type="button" value="Change" th:onclick="chgMonth(0)" class="btn-comn"></input>
            <input type="button" value="prev" th:onclick="chgMonth(-1)" class="btn-comn"></input>
            <input type="button" value="next" th:onclick="chgMonth(1)" class="btn-comn"></input>
        </form>
    </div>
    
    <hr/>

    <div th:unless="${#lists.isEmpty(form.items)}">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th width="30%">name</th>
                <th>category</th>
                <th>status</th>
                <th>time</th>
                <th>duration</th>
                <th>percent</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="current : ${form.items}">
                <td th:text="${current.name}"></td>
                <td th:text="${current.category}"></td>
                <td th:text="${current.status}"></td>
                <td th:text="${current.time}"></td>
                <td th:text="${current.duration}"></td>
                <td th:text="${current.percent}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <div th:replace="event_view_rec :: item">(sub-nodes here)</div>

</div>
</body>
</html>