<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
    <h3 th:text="${itemName}"></h3>
    <table th:unless="${#lists.isEmpty(eventList)}" class="table table-bordered inputbox noborder" style="font-size:1rem;">
        <th:block th:each="current,stat : ${eventList}"> 
            <tr>
                <td th:text="${current.date}"></td>
                <td th:text="${current.name}"></td>
                <td th:text="${current.time}"></td>
            </tr>
        </th:block>
    </table>

</div>
</body>
</html>