<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<div th:fragment="frag" th:if="${child}">
	<span> 
		<b th:text="${child.name}"></b> 
		<b th:if="${child.time} != 0" th:text="'  /  ' + ${child.time} + '  /  ' +${child.percent} " ></b>
	</span>
	<div th:unless="${#lists.isEmpty(child.items)}">
		<table class="table table-bordered noborder headline">
			<tr th:each="item, itemStat : ${child.items}">					
				<td th:text="${item.getName()}"></td>
				<td width="10%" th:text="${item.getTime()}"></td>
				<td width="10%" th:text="${item.getDuration()}"></td>
				<td width="10%" th:text="${item.getPercent()}"></td>
			</tr>
		</table>
	</div>

	<ul class="wtree">
		<li th:each="child, childStat : ${child.children}">
			<div th:replace="event_view_rec :: frag">(sub-nodes here)</div>
		</li>
	</ul>
</div>
	
</body>