<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

  <form name="addForm" method="POST" action="#" th:action="@{/event/save}" th:object="${itemView}">
      <table class="table table-bordered inputbox noborder">
          <tr><td width="10%">name <FONT color="red">*</FONT></td><td colspan="3"><input th:field="*{name}" /></td></tr>
          <tr><td>name2</td><td><input th:field="*{name2}" /></td><td width="10%">id</td><td><input th:field="*{id}" class="textbox"/></td></tr>
          <tr><td>level</td><td><input th:field="*{level}" /></td>
              <td>cat</td><td><input th:field="*{itemCategory}" style="width:50%;" class="textbox"/><input th:field="*{itemCategoryId}" style="width:50%;" class="textbox"/></tr>
          <tr><td>order</td><td><input th:field="*{orderNo}" /></td>
              <td>parent</td><td><input th:field="*{parentName}" style="width:50%;" class="textbox"/><input th:field="*{parentId}" style="width:50%;" class="textbox"/></td></tr>
          <tr><td>type</td><td><input th:field="*{type}" class="type" /></td>
            <td>date</td><td><input th:field="*{date}" style="width:50%;" class="textbox"/><input th:field="*{releaseDate}" style="width:50%;" class="textbox"/></td></tr>
          <tr><td>event</td><td><input th:field="*{event.name}" /></td><td>id</td><td><input th:field="*{event.id}" class="textbox"/></tr>
          <tr><td>time <FONT color="red">*</FONT></td><td><input th:field="*{event.time}" class="time"/></td><td>status</td><td><input th:field="*{status}" class="status textbox"/></td></tr>
          <tr><td>date</td><td><input th:field="*{event.date}" class="textbox"/></td><td>changeTo</td><td><input th:field="*{changeToDate}" class="textbox"/></td></tr>
          <tr hidden=""><td>parent</td><td><input th:field="*{event.parentId}" class="textbox"/></td></tr>
          <tr>
            <td>eventCat</td><td><input th:field="*{eventCategory}" style="width:50%;" class="textbox"/><input th:field="*{eventCategoryId}" style="width:50%;" class="textbox"/>
            <td>topicCat</td><td><input th:field="*{topicCategory}" style="width:50%;" class="textbox"/><input th:field="*{topicCategoryId}" style="width:50%;" class="textbox"/></td></tr>
          <tr><td>memo</td><td colspan="3"><input th:field="*{event.memo}" /></td></tr>
      </table>
      <input type="submit" value="Save" />
      <a th:text="时间表" th:href="@{'/event/eventDetail?itemId=' + ${itemView.id} + '&itemName=' + ${itemView.name}}" class="addbtn"></a>
  </form>

  <hr/>
  <h3>查找事件</h3>
  <form name="findForm" action="#" th:action="@{/event/find}" method="GET">
      <input type="hidden" name="date" th:value="${date}" readonly="true" />
      <input type="text" name="name" class="textbox"/>
      <input type="submit" value="search"></input>
  </form>

  <ul th:unless="${#lists.isEmpty(refEvents)}">
    <li th:each="current : ${refEvents}" th:style="${session.ispc==false}?'':'width:30%;float: left;display: block;margin: 5px 15px 0px 5px;'">
      <b th:text="${current.parentName}"></b>
      <b th:if="${current.eventCategoryId}==0" th:text="'/NoCat'"></b>
      <a th:href="'/event/insert?date=' + ${date} + '&parentId=' + ${current.parentId} + '&name=' + ${current.name} + '&time=0.25'" class="addbtn3"><input type="button" value="0.25" /></a>
      <a th:href="'/event/insert?date=' + ${date} + '&parentId=' + ${current.parentId} + '&name=' + ${current.name} + '&time=0.50'" class="addbtn3"><input type="button" value="0.50" /></a>
      <a th:href="'/event/insert?date=' + ${date} + '&parentId=' + ${current.parentId} + '&name=' + ${current.name} + '&time=1.00'" class="addbtn3"><input type="button" value="1.00" /></a>
    </li>
  </ul>


</div>
</body>
</html>