<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function convertCat(str) {
    var res = document.getElementById(str);
    return res.innerText;
}
$(function() {
    $('.category').on('blur', function() {
        var str = $(this).val();
        $(this).val(convertCat(str));
    });
});
function editItem(id) {
    document.getElementById("itemId").value = id;
	editForm.submit();
}
function delItems() {
    document.getElementById("deleteFlg").value = "TRUE";
	updateAllForm.submit();
}
function addByCat(id, cat) {
    document.getElementById("targetId").value = id;
    document.getElementById("targetCat").value = cat;
    addByCatForm.submit();
}

/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content" th:with="floor='1'">

<th:block th:unless="${group.name}=='MyVision'">
    <nav class="navbar-expand" role="navigation">
        <div id="navbar">
            <ul class="navbar-nav" style="width: 100%;overflow: auto;display:inline-block;">
                <li th:each="guide,guideStat : ${guideGroups}" class="nav-item nitem">
                    <a class="nav-link" th:href="@{'/item/diagramWithItem?categoryId=' + ${guide.childCategoryId}}" th:text="${guide.name}"></a>
                </li>      
            </ul>
        </div>
    </nav>
</th:block>

    <form name="updateAllForm" action="#" th:action="@{/item/updateAll}" method="post">

        <th:block th:unless="${group.name}=='MyVision'">
        <div style="text-align: right;">

            <b>ChangeCategory</b><input name="changeCategory"/>
            <b>Level</b><input name="changeLevel"/>
            <input type="submit" id="submitButton" th:value="Save" style="margin: 10px;"/>
            
            <input type="hidden" id="parentCategory" name="parentCategory" th:value="${group.name}" />
            <input type="hidden" id="deleteFlg" name="deleteFlg" value="" />
            <input type="button" id="deleteButton" th:value="Del" th:onclick="delItems()" style="margin: 10px;"/>
        </div>
        </th:block>
        
            <span> 
                <FONT style="FONT-SIZE: 25pt; FILTER: shadow(color=green); WIDTH: 100%; COLOR: rgb(0, 0, 0); LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B th:text="${group.name}"></B></FONT>
            <table class="table table-bordered headline" th:unless="${#lists.isEmpty(group.items)}" style="background-color: lightyellow;border: 2px solid #aaa;">
                <tr>
                    <td th:each="gItem,gStat : ${group.items}" style="width:16%;float:left;">
                        <input type="checkbox" name="changeList" th:value="${gItem.id}"/>
                        <th:block>
                            <b><a th:text="${gItem.name}" th:href="@{'/item/item?itemId=' + ${gItem.id}}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
                        </th:block>
                    </td>
                </tr>
            </table>
            </span>
            
            <th:block th:if=${session.ispc}>
            <div class="bg-box">
                <div class="left-box">
                    <div class="left-box">
                        <ul class="wtree">
                            <li th:each="group,groupStat : ${group.children}">
                                <div th:if="${groupStat.index} % 4 == 0" th:with="idx=${groupStat.index}">
                                    <div th:replace="group_rec :: item">(sub-nodes here)</div>
                                </div>                 
                            </li>
                        </ul>
                    </div>
                    <div class="right-box">
                        <ul class="wtree">
                            <li th:each="group,groupStat : ${group.children}">
                                <div th:if="${groupStat.index} % 4 == 1" th:with="idx=${groupStat.index}">
                                    <div th:replace="group_rec :: item">(sub-nodes here)</div>
                                </div>                 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-box">
                    <div class="left-box"> 
                        <ul class="wtree">
                            <li th:each="group,groupStat : ${group.children}">
                                <div th:if="${groupStat.index} % 4 == 2" th:with="idx=${groupStat.index}">
                                    <div th:replace="group_rec :: item">(sub-nodes here)</div>
                                </div>                 
                            </li>
                        </ul>
                    </div>
                    <div class="right-box"> 
                        <ul class="wtree">
                            <li th:each="group,groupStat : ${group.children}">
                                <div th:if="${groupStat.index} % 4 == 3" th:with="idx=${groupStat.index}">
                                    <div th:replace="group_rec :: item">(sub-nodes here)</div>
                                </div>                 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </th:block>

            <th:block th:unless=${session.ispc}>
                <ul class="wtree">
                    <li th:each="group,groupStat : ${group.children}" th:with="idx=${groupStat.index}">
                        <div>
                            <div th:replace="group_rec :: item">(sub-nodes here)</div>
                        </div>                 
                    </li>
                </ul>
            </th:block>
    </form>

    <form name="addByCatForm" action="#" th:action="@{/item/addByCat}" method="GET">
        <input type="hidden" name="targetId" id="targetId"/>
        <input type="hidden" name="targetCat" id="targetCat"/>
    </form>

    <hr/>
    <h3>Collection Options</h3>
    <span><a th:href="@{/item/unsortedEdit}">EditUnsortedItems</a></span>

</div>
</body>
</html>