<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div th:fragment="item" th:if="${group}" th:with="floor=${floor}+'1'">
		<span class="bgbox" th:classappend="'div' + ${idx}"> 
			<b class="catName" th:text="${group.name}"></b>
			
			<input type="button" value="+" th:data-id="${group.id}" th:data-cat="${group.name}" 
			th:onclick="addByCat(this.getAttribute('data-id'), this.getAttribute('data-cat'));"
			style="float:right;font-size:small;height:20px;padding-top:0px;margin-left: 5px;text-align: top;" />
		<table class="table table-bordered headline">
			<th:block th:unless="${#lists.isEmpty(group.items)}" th:each="gItem,gStat : ${group.items}">
				<th:block th:if="${gStat.index} % 2 eq 0" ><tr></th:block>
				<td width="50%">
					<input type="checkbox" th:if="${editFlag}" name="changeList" th:value="${gItem.id}"/>
					<th:block th:if="${gItem.systemUrl}==null or ${gItem.systemUrl}==''">
						<th:block th:if="${gItem.childCategoryId}!=0">
							<b><a th:text="${gItem.name}" th:href="@{'/item/diagramWithItem?categoryId=' + ${gItem.childCategoryId}}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
							<b><a th:text="__D " th:href="@{'/category/detail?itemId=' + ${gItem.childCategoryId}}" ></a></b>
							<b><a th:text="__E" th:href="@{'/item/itemAdd?itemId=' + ${gItem.id}}"></a></b>
						</th:block>
						<th:block th:if="${gItem.childCategoryId}==0">
							<b><a th:text="${gItem.name}" th:href="@{'/item/item?itemId=' + ${gItem.id}}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
						</th:block>
					</th:block>
					<th:block th:unless="${gItem.systemUrl}==null or ${gItem.systemUrl}==''">
						<b><a th:text="${gItem.name}" th:href="${gItem.systemUrl}" class="itemlabel" th:classappend="'label' + ${gItem.level}" ></a></b>
						<b><a th:text="__E" th:href="@{'/item/itemAdd?itemId=' + ${gItem.id}}"></a></b>
						<th:block th:if="${gItem.childCategoryId}!=0">
							<b><a th:text="__D " th:href="@{'/category/detail?itemId=' + ${gItem.childCategoryId}}" ></a></b>
						</th:block>				
					</th:block>

				</td>
				<th:block th:if="${gStat.index} % 2 eq 1" ></tr></th:block>
			</th:block>
		</table>
		</span>
		
		<ul class="wtree" th:unless="${floor} == '1'">
			<li th:each="group : ${group.children}">
				<div th:replace="group_rec :: item">(sub-nodes here)</div>
			</li>
		</ul>
	</div>
</body>