<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>TOP PAGE</title>
  <link rel="stylesheet" th:href="@{/style.css}"></link>
  <meta name="keywords" content="springboot,thymeleaf,layout,トップページ" />
  <meta name="description" content="SpringBootとThymeleafのLayoutを使ってWebサイトを作るサンプルです。ここはトップページです。" />
  <script th:inline="javascript">
    /*<![CDATA[*/
    function nw(str) {
        var res = document.getElementById(str);
        return res.innerText;
    }
    /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
<p style="height:150px;">
トップページです。


</p>
</div>
</body>
</html>