<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function deleteItem(id) {
    document.getElementById("delId").value = id;
	deleteForm.submit();
}
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

  <form name="deleteForm" method="POST" action="#" th:action="@{/item/delete}" >
    <input type="hidden" id="delId" name="delId" value=""></input>
  </form>
  
  <a th:text="维基百科" th:href="@{'https://zh.m.wikipedia.org/zh/' + ${item.name}}" class="addbtn"></a>
  <a th:text="百度百科" th:href="@{'https://baike.baidu.com/item/' + ${item.name}}" class="addbtn"></a>
  
  <form name="addForm" method="POST" action="#" th:action="@{/item/save}" th:object="${item}">
    <table class="table table-bordered noborder">
      <tr><td width="10%">名称 <FONT color="red">*</FONT></td><td colspan="3"><input th:field="*{name}" /></td></tr>
      <tr><td>别名</td><td><input th:field="*{name2}" /></td><td width="10%">ID</td><td><input th:field="*{id}" class="textbox"/></td></tr>
      <tr><td>等级</td><td><input th:field="*{level}" /></td>
          <td><a th:text="所属" th:href="@{'/item/?catId=' + ${item.itemCategoryId}}"></a></td><td><input th:field="*{itemCategory}" style="width:50%;" class="textbox"/><input th:field="*{itemCategoryId}" style="width:50%;" class="textbox"/></tr>
      <tr><td>排序</td><td><input th:field="*{orderNo}" /></td>
          <td>上位</td><td><input th:field="*{parentName}" style="width:50%;" class="textbox"/><input th:field="*{parentId}" style="width:50%;" class="textbox"/></td></tr>
      <tr><td>类型</td><td><input th:field="*{type}" class="type" /></td>
        <td>日期</td><td><input th:field="*{date}" style="width:50%;" class="textbox"/><input th:field="*{releaseDate}" style="width:50%;" class="textbox"/></td></tr>
        <tr th:if="${item.memo}!=''"><td>备注</td><td colspan="3"><textarea th:field="*{memo}" th:value="${memo}" /></td></tr>
    </table>
    <input type="submit" value="更新" />
    <input type="button" value="删除" th:data-id="${item.id}" th:onclick="deleteItem(this.getAttribute('data-id'));" ></input>
    <a th:if="${item.childCategoryId!=0}" th:text="EditView" th:href="@{'/category/?id=' + ${item.childCategoryId}}" class="addbtn"></a>
    <a th:text="修改子项" th:href="@{'/item/viewEdit?id=' + ${item.id}}" class="addbtn"></a>
    <a th:text="修改信息" th:href="@{'/item/edit?id=' + ${item.id}}" class="addbtn"></a>
    <a th:text="添加子项" th:href="@{'/item/edit?parentId=' + ${item.id}}" class="addbtn"></a>  
    <a th:text="添加资源" th:href="@{'/item/resourceEdit?itemId=' + ${item.id}}" class="addbtn"></a>
  </form>

  <div th:if="${item.url != null and item.url != ''}">
    <hr>
    <img class="main-img" th:src="${item.url}" />
    
    <br>
    <a th:href="'/file/download?url=' + ${item.url}" th:text="${item.url}"></a>
  </div>

  <div th:unless="${#lists.isEmpty(item.items)}">
    <hr/>
    <b>Items</b>
    <table class="table-bordered table-hover table-striped">
        <th:block th:unless="${#lists.isEmpty(item.items)}" th:each="current : ${item.items}">
          <tr>
            <td><a style="color:blue;" th:text="${current.name}" th:href="@{'/item/view?id=' + ${current.id}}"></td>
            <td><a style="color:blue;" th:text="Edit" th:href="@{'/item/edit?id=' + ${current.id}}"></td>
            <td th:text="${current.date}"></td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="article" th:text="${current.memo}"></div>
            </td>
          </tr>
        </th:block>
    </table>
  </div>

  <div th:unless="${#lists.isEmpty(item.resources)}">
    <hr/>
    <b>Resources</b>
    <table class="table-bordered table-hover table-striped">
        <th:block th:unless="${#lists.isEmpty(item.resources)}" th:each="current : ${item.resources}">
          <tr>
            <td><a style="color:blue;" th:text="${current.name}" th:href="@{'/item/resource?id=' + ${current.id}}"></td>
            <td><a style="color:blue;" th:text="Edit" th:href="@{'/item/resourceEdit?id=' + ${current.id}}"></td>
            <td th:text="${current.date}"></td>
          </tr>
          <tr th:if="${current.url==null}">
            <td colspan="4">
              <div class="article" th:text="${current.text}"></div>
            </td>
          </tr>
          <tr th:if="${current.url!=null}">
            <td colspan="4">
              <img th:if="${current.type}=='Image'" class="main-img" th:src="${current.url}" />
              <br>
              <b>File Download : </b><a th:href="'/file/download?url=' + ${current.url}" th:text="${current.url}"></a>
            </td>
          </tr>        
        </th:block>
    </table>
  </div>

  <div th:unless="${#lists.isEmpty(item.events)}">
    <hr/>
    <b>Resources</b>
    <table class="table table-bordered inputbox noborder" style="font-size:1rem;">
        <th:block th:unless="${#lists.isEmpty(item.events)}" th:each="current : ${item.events}">
          <tr>
            <td th:text="${current.date}" th:href="@{'/event/?date=' + ${current.date}}"></td>
            <td th:text="${current.name}"></td>
            <td th:text="${current.time}"></td>
            <td><small th:text="${current.memo}"></small></td>
          </tr> 
        </th:block>
    </table>
  </div>

</div>
</body>
</html>