<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/style.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function inputClear() {
    document.getElementById("inputId").value = "";
    document.getElementById("inputName").value = "";
    document.getElementById("inputCategory").value = "";
    document.getElementById("inputStatus").value = "";
    document.getElementById("inputDate").value = document.getElementById("targetDate").value;
    document.getElementById("inputTime").value = "";
	document.getElementById("inputMemo").value = "";
}

function editItem(id) {
    document.getElementById("itemId").value = id;
	editForm.submit();
}

$(document).ready(function()
{
$("#mymenu ul li").next("ul").hide();
$("#mymenu ul li").click(function()
{
$(this).next("ul").toggle();
});
});

function addPersonByCat(cat) {
      document.getElementById("targetCat").value = cat;
      addByCatForm.submit();
}
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

    <nav class="navbar-expand" role="navigation">
        <div id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/person/group?group=Circle" >Circle</a></li>
                <li class="nav-item"><a class="nav-link" href="/person/group?group=History" >History</a></li>
                <li class="nav-item"><a class="nav-link" href="/person/group?group=Collection" >Collection</a></li>
                <li class="nav-item"><a class="nav-link" href="/person/group?group=Fantasy" >Fantasy</a></li>
                <li class="nav-item"><a class="nav-link" href="/person/unsorted" >Unsorted</a></li>
            </ul>
        </div>
    </nav>

    <form name="addByCatForm" action="#" th:action="@{/person/addByCat}" method="GET">
        <input type="hidden" name="targetCat" id="targetCat"/>
    </form>

    <h3 th:text="${group.name}"></h3>
    <ul class="wtree">
        <li th:each="group : ${group.children}">
            <div th:replace="person_rec :: item">
            (sub-nodes here)</div>
        </li>
    </ul>

</div>
</body>
</html>