<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<div th:fragment="item" th:if="${group}">
	<span th:text="${group.name}">
	(item's content here.)</span>
	<ul class="wtree">
		<li th:each="group : ${group.children}">
			<div th:replace="person_rec :: item">
			(sub-nodes here)</div>
		</li>
	</ul>
</div>
	
</body>