<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div th:fragment="item" th:if="${group}">
		<span>
			<b th:text="${group.name}"></b>
			<input type="button" value="+" th:data-cat="${group.name}" th:onclick="addPersonByCat(this.getAttribute('data-cat'));"
			style="float:right;font-size:small;height:20px;padding-top:0px;text-align: top;"></input>
		</span>

		<ul class="wtree">
			<th:block th:unless="${#lists.isEmpty(group.items)}">
			<table class="table table-bordered headline">
				<th:block th:each="person,pStat : ${group.items}">
					<th:block th:if="${pStat.index} % 4 eq 0" >
						<tr>
					</th:block>
					<td width="25%">
					<b><a th:text="${person.name}" th:href="@{'/person/detail?targetCat=' + ${group.name} + '&itemId=' + ${person.id}} "></a></b>
					<b th:unless="${#strings.isEmpty(person.name2)}" th:text="'  /  ' +${person.name2}"></b>
					<b th:unless="${#strings.isEmpty(person.name3)}" th:text="'  /  ' +${person.name3}"></b>
					</td>
					<th:block th:if="${pStat.index} % 4 eq 3 or ${pStat.count} eq ${#lists.size(group.items)}" >
						</tr>
					</th:block>
				</th:block>
			</table>
			</th:block>
			<li th:each="group : ${group.children}">
				<div th:replace="person_rec :: item">
				(sub-nodes here)</div>
			</li>
		</ul>
	</div>	
</body>