<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<script th:inline="javascript">
/*<![CDATA[*/
function insertItem(id, time) {
    document.getElementById("insertId").value = id;
    if(time != 0.0) {
      document.getElementById("targetTime").value = time;
    }
	insertForm.submit();
}
function inputClear() {
    document.getElementById("inputId").value = "";
    document.getElementById("inputName").value = "";
    document.getElementById("inputStatus").value = "";
    document.getElementById("eveCategory").value = "";
    document.getElementById("perCategory").value = "";
    document.getElementById("colCategory").value = "";
    document.getElementById("achCategory").value = "";
    document.getElementById("startDate").value = "";
    document.getElementById("endDate").value = "";
}
function selectItem(id, nm, st, ec, pc, cc, ac, sd, ed) {
    inputClear();
    document.getElementById("inputId").value = id;
    document.getElementById("inputName").value = nm;
    document.getElementById("inputStatus").value = st;
    document.getElementById("eveCategory").value = ec;
    document.getElementById("perCategory").value = pc;
    document.getElementById("colCategory").value = cc;
    document.getElementById("achCategory").value = ac;
    document.getElementById("startDate").value = sd;
    document.getElementById("endDate").value = ed;
}
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">

<form name="addForm" method="POST" action="#" th:action="@{/event/topicAdd}" th:object="${topicViewBean}">
	<table class="table table-bordered inputbox noborder fcol">
	  <tr>
        <td width="15%">id</td>
        <td ><input th:field="*{id}" id="inputId" /></td>
	  </tr>
	  <tr>
        <td >name</td>
        <td ><input th:field="*{name}" id="inputName" /></td>
	  </tr>
      <tr>
        <td >status</td>
        <td ><input th:field="*{status}" id="inputStatus" class="status" /></td>
      </tr>
      <tr>
        <td >eveCategory</td>
        <td ><input th:field="*{eveCategory}" id="eveCategory" class="eveCategory" /></td>
      </tr>      
      <tr>
        <td >perCategory</td>
        <td ><input th:field="*{perCategory}" id="perCategory" class="perCategory" /></td>
      </tr>
      <tr>
        <td >colCategory</td>
        <td ><input th:field="*{colCategory}" id="colCategory" class="colCategory" /></td>
      </tr>
      <tr>
        <td >achCategory</td>
        <td ><input th:field="*{achCategory}" id="achCategory" class="achCategory" /></td>
    </tr>
    <tr>
      <td >time</td>
      <td ><input th:field="*{time}" id="inputTime" class="time" /></td>
    </tr>        
      <tr >
        <td >startDate</td>
        <td ><input th:field="*{startDate}" id="startDate" /></td>
    </tr>
    <tr>
      <td >endDate</td>
      <td ><input th:field="*{endDate}" id="endDate" /></td>
    </tr>    
    </table>
	    <input type="submit" value="Add" />
</form>

<!--
<hr/>
<h3>Search by Name</h3>
<form name="findForm" action="#" th:action="@{/event/find}" method="GET">
    <input type="hidden" name="targetDate" id="targetDate" th:value="${date}" readonly="true" />
    <input type="text" name="targetName" id="targetName" class="textbox"/>
    <input type="submit" value="search"></input>
</form>
-->

<div th:unless="${#lists.isEmpty(refTopics)}">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>      
            <th>Name</th>        
            <th>Category</th>      
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current : ${refTopics}">
            <td th:text="${current.id}"></td>
            <td th:text="${current.name}"></td>
            <td th:text="${current.status}"></td>            
            <td th:text="${current.eveCategory}"></td>
            <td th:text="${current.perCategory}"></td>
            <td th:text="${current.colCategory}"></td>
            <td th:text="${current.achCategory}"></td>
            <td >
              <input type="button" value="Select" 
                th:data-id="${current.id}"
                th:data-nm="${current.name}"
                th:data-st="${current.status}"
                th:data-ec="${current.eveCategory}"
                th:data-pc="${current.perCategory}"
                th:data-cc="${current.colCategory}"
                th:data-ac="${current.achCategory}"
                th:data-sd="${current.startDate}"
                th:data-ed="${current.endDate}"
                th:onclick="selectItem(this.getAttribute('data-id'),
                this.getAttribute('data-nm'),
                this.getAttribute('data-st'),
                this.getAttribute('data-ec'),
                this.getAttribute('data-pc'),
                this.getAttribute('data-cc'),
                this.getAttribute('data-ac'),
                this.getAttribute('data-sd'),
                this.getAttribute('data-ed')
                );" ></input>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</body>
</html>